{
  "openapi": "3.0.4",
  "info": {
    "title": "Agent API Documentation",
    "description": "Agent API v4 (Gold Palace / CASINO API Admin Corp). Ver docs/game-provider/02-api-main.md para el desglose. Headers: Authorization: Bearer {API TOKEN}, Accept: application/json, Content-Type: application/json. Timezone de queries: UTC(0). Max 10 llamadas simultaneas por IP (SERVER_IS_BUSY 1018). IP whitelist (IP_NOT_ALLOWED 1020). Transacciones se borran a los 2 dias.",
    "version": "v4"
  },
  "servers": [
    { "url": "https://agent.goldslotpalase.com" }
  ],
  "paths": {
    "/v4/agent/info": { "post": { "tags": ["1.Agent Account"], "summary": "Get Agent Information", "response": "_AgentInfoResultData" } },
    "/v4/agent/rtp": { "post": { "tags": ["1.Agent Account"], "summary": "Change Agent's RTP (Winning Rate)", "req": "ReqAgentRtp", "response": "ResultBase" } },
    "/v4/agent/callback-test": { "post": { "tags": ["1.Agent Account"], "summary": "(sin summary) callback test", "response": "ResultBase" } },
    "/v4/user/create": { "post": { "tags": ["2.User Account"], "summary": "Create User", "req": "ReqUserCreate", "response": "_UserCreateResultData" } },
    "/v4/user/info": { "post": { "tags": ["2.User Account"], "summary": "Get User Information", "req": "ReqUserInfo", "response": "_UserInfoResultData" } },
    "/v4/wallet/deposit": { "post": { "tags": ["3.User Wallet (Only Transfer Mode)"], "summary": "Deposit User Balance", "req": "ReqWallet", "response": "_UserWalletResultData", "note": "SOLO transfer mode. En SEAMLESS no se usa." } },
    "/v4/wallet/withdraw": { "post": { "tags": ["3.User Wallet (Only Transfer Mode)"], "summary": "Withdraw User Balance", "req": "ReqWallet", "response": "_UserWalletResultData", "note": "SOLO transfer mode." } },
    "/v4/wallet/withdraw-all": { "post": { "tags": ["3.User Wallet (Only Transfer Mode)"], "summary": "Withdraw All User Balance", "req": "ReqWalletAll", "response": "_UserWalletResultData", "note": "SOLO transfer mode." } },
    "/v4/game/providers": { "post": { "tags": ["4.Game Details"], "summary": "Get Providers List", "req": "ReqProviders", "response": "_ProviderListResultData" } },
    "/v4/game/games": { "post": { "tags": ["4.Game Details"], "summary": "Get Games List", "req": "ReqGames", "response": "_GameListResultData" } },
    "/v4/game/all": { "post": { "tags": ["4.Game Details"], "summary": "(sin summary) all games", "response": "_GameListResultData" } },
    "/v4/game/game-url": { "post": { "tags": ["5.Game Launch"], "summary": "Get Game Access URL", "req": "ReqGameUrl", "response": "_GameUrlResultData", "note": "URL valida 10 min, un solo uso." } },
    "/v4/game/online-games": { "post": { "tags": ["5.Game Launch"], "summary": "Get Online-Game List", "response": "_OnlineGameListResultData", "note": "juegos conectados en los ultimos 30 min." } },
    "/v4/game/call_config": { "post": { "tags": ["5.Game Launch"], "summary": "Check Bonus-Call Settings", "response": "_CallConfigResultData" } },
    "/v4/game/call_start": { "post": { "tags": ["5.Game Launch"], "summary": "Start Bonus-Call", "req": "ReqCallStart", "response": "_CallStartResultData" } },
    "/v4/game/call_cancel": { "post": { "tags": ["5.Game Launch"], "summary": "Cancel Bonus-Call", "req": "ReqCallCancel", "response": "ResultBase" } },
    "/v4/game/freeround/start": { "post": { "tags": ["5.Game Launch"], "req": "ReqFreeRoundStart", "response": "ResultBase" } },
    "/v4/game/freeround/cancel": { "post": { "tags": ["5.Game Launch"], "req": "ReqFreeRoundCancel", "response": "ResultBase" } },
    "/v4/game/transaction": { "post": { "tags": ["6.Game Transaction"], "summary": "Search Game Transactions (By Time)", "req": "ReqTransactions", "response": "_Transaction_PagedListResultData", "note": "UTC. Delay 30s entre requests. Limit max 2000." } },
    "/v4/game/transaction-id": { "post": { "tags": ["6.Game Transaction"], "summary": "Search Game Transactions (By Transaction ID)", "req": "ReqTransactionsById", "response": "_TransactionListResultData", "note": "last_id=0 la primera vez; excluye el last_id; delay 30s." } },
    "/v4/game/round-details": { "post": { "tags": ["6.Game Transaction"], "summary": "Get Round Detail URL", "req": "ReqRoundDetails", "response": "_RoundDetailsUrlResultData", "note": "hasta 30 dias atras." } },
    "/v4/statistics/user": { "post": { "tags": ["7.Statistics"], "req": "ReqStatistics", "response": "_StatisticsUser_PagedListResultData" } }
  },
  "schemas": {
    "ResponseEnvelope": "Toda respuesta = { code:int, message:string|null, data:<T> }. code=0 => OK.",
    "ReqAgentRtp": { "rtp": "double" },
    "ReqUserCreate": { "name": "string 2-50, regex ^[_a-zA-Z0-9]+$ (REQUIRED)" },
    "ReqUserInfo": { "user_code": "int64 (REQUIRED)" },
    "ReqWallet": { "user_code": "int64 (REQUIRED)", "amount": "double (REQUIRED)" },
    "ReqWalletAll": { "user_code": "int64 (REQUIRED)" },
    "ReqProviders": { "lang": "int 1-6 (REQUIRED)" },
    "ReqGames": { "provider_id": "int64 (REQUIRED)", "lang": "int 1-6 (REQUIRED)" },
    "ReqGameUrl": { "user_code": "int64 (REQUIRED)", "provider_id": "int64 (REQUIRED)", "game_symbol": "string (REQUIRED)", "lang": "int 1-13 (REQUIRED)", "return_url": "string|null", "rtp": "float (0=usar RTP del agente)", "is_finish_jackpot": "bool" },
    "ReqCallStart": { "gplay_id": "int64", "set_point": "double", "type": "int32", "memo": "string|null" },
    "ReqCallCancel": { "call_id": "int64" },
    "ReqFreeRoundStart": { "user_code": "int64 (REQ)", "provider_id": "int64 (REQ)", "game_code": "string (REQ)", "bet": "double (REQ)", "rounds": "int32 (REQ)", "expirationDate": "int64 (REQ)" },
    "ReqFreeRoundCancel": { "fr_id": "string|null" },
    "ReqTransactions": { "start_time": "date-time UTC 'yyyy-MM-dd HH:mm:ss' (REQ)", "end_time": "date-time UTC (REQ)", "offset": "int32 >=0 (REQ)", "limit": "int32 10-2000 (REQ)" },
    "ReqTransactionsById": { "last_id": "int64 >=0 (REQ, 0 la 1a vez)", "limit": "int32 10-2000 (REQ)" },
    "ReqRoundDetails": { "user_code": "int64 (REQ)", "round_id": "string (REQ)", "provider_id": "int64", "game_code": "string|null" },
    "ReqStatistics": { "start_time": "date-time (REQ)", "end_time": "date-time (REQ)", "offset": "int32 (REQ)", "limit": "int32 10-2000 (REQ)" },
    "_AgentInfo": { "name": "string", "currency": "int32 (ej 2)", "balance": "double (Agent Point)", "rtp": "double", "whitelist": "string[]" },
    "_UserCreate": { "user_code": "int64", "is_new_user": "bool" },
    "_UserInfo": { "name": "string", "balance": "double (User Point)" },
    "_UserWallet": { "balance": "double (point despues)", "amount": "double (monto procesado)" },
    "_Provider": { "provider_id": "int64", "provider_name": "string", "locale_name": "string", "status": "int32 (1=Normal, 2=Maintenance)" },
    "_Game": { "provider_id": "int64", "game_code": "string (game_symbol)", "game_name": "string EN", "locale_name": "string", "game_image": "url", "game_image_narrow": "url", "launch_enable": "bool", "category": "string ('Slots'|'Live')", "reg_date": "date-time" },
    "_GameUrl": { "game_url": "string (valida 10 min, un uso)" },
    "_OnlineGame": { "gplay_id": "int64", "user_code": "int64", "user_name": "string", "provider_id": "int64", "provider_name": "string", "game_code": "string", "game_name": "string", "category": "int32 (1,2,3)", "last_round_bet": "double", "spend": "double (total bet)", "win": "double (total win excl bonus-call)", "call_win": "double", "call_id": "int64", "call_enable": "bool", "callend_flag": "bool", "call_status": "int32 (0 Init,1 Running,2 Complete,3 Cancel)", "start_time": "date-time", "last_update": "date-time" },
    "_CallConfig": { "call_min": "double" },
    "_CallStart": { "call_id": "int64" },
    "_Transaction": { "trans_id": "int64", "user_code": "int64", "round_id": "string", "trans_type": "int32 (1 Bet,2 Win,4 Deposit,8 Withdraw,16 BetCancel,32 BonusCall, +64,128,256,512,1024)", "provider_id": "int64", "provider_name": "string", "game_code": "string", "game_name": "string", "category": "string", "prebalance": "double", "trans_amount": "double", "balance": "double", "regdate": "date-time", "time_stamp": "int64" },
    "_StatisticsUser": { "user_code": "int64", "user_name": "string", "slot_bet": "double", "slot_win": "double", "live_bet": "double", "live_win": "double", "mini_bet": "double", "mini_win": "double" },
    "PagedList": { "total": "int32", "offset": "int32", "count": "int32", "list": "T[]" }
  },
  "responseCodes": {
    "0": "OK",
    "1": "UNDER_MAINTENANCE",
    "1001": "INTERNAL_SERVER_ERROR",
    "1002": "VALIDATION_ERROR (formato de request)",
    "1003": "SERVICE_EXCEPTION",
    "1007": "TOKEN_NOT_FOUND",
    "1009": "TOKEN_INVALID",
    "1010": "PERMISSION_ERROR (sin acceso)",
    "1011": "PROVIDER_ERROR (game error)",
    "1012": "PARAMETERS_INVALID",
    "1015": "CALLBACK_ERROR (ver CallbackAPI error log)",
    "1018": "SERVER_IS_BUSY (excedio 10 llamadas simultaneas)",
    "1020": "IP_NOT_ALLOWED",
    "2001": "AGENT_NOT_FOUND",
    "2002": "USER_NOT_FOUND",
    "2003": "GAME_NOT_FOUND",
    "2005": "POINT_NOT_ENOUGH (Agent Point insuficiente)",
    "2006": "BALANCE_NOT_ENOUGH (User Balance insuficiente)",
    "2007": "PROVIDER_NOT_FOUND",
    "2011": "BONUSCALL_DOUBLE",
    "2012": "BONUSCALL_ALEADY_ENDED",
    "2013": "ROUND_NOT_FOUND",
    "2014": "CURRENCY_NOT_SUPPORTED"
  },
  "transactionTypes": { "1": "Bet", "2": "Win (siempre, aun 0)", "4": "Deposit (recharge points)", "8": "Withdraw (points)", "16": "BetCancel (revierte Bet fallido)", "32": "BonusCall (win por bonus-call)" },
  "languages": { "1": "English", "2": "Korean", "3": "Thai", "4": "Spanish", "5": "Japanese", "6": "Portuguese", "note": "providers/games aceptan lang 1-6; game-url acepta 1-13" },
  "security": { "scheme": "Bearer (http), bearerFormat Custom", "value": "API token (UUID) desde Settings" }
}
